<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<ul>
    {% for index in indexFiles %}
        <li><a href="{{ index.src }}">{{ index.name }}</a></li>
    {% endfor %}
</ul>
</body>
</html>
